@charset "utf-8";
@import url(nanumsquare.css);


*{margin:0;padding:0;}
body{letter-spacing: -0.3px; background-color:#fff;font-size:16px;color:#333;line-height:150%;font-family:"Nanum Square", "맑은 고딕","Malgun Gothic","Helvetica Neue","Helvetica",verdana,sans-serif;-webkit-text-size-adjust:none;word-break:break-all;}
ul,ol{list-style:none;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;}
input, button,textarea{padding:0;font-size:100%;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#333;text-decoration:none;}
img{vertical-align:middle;}
body{background-color:#fff;}
caption,legend{*position:absolute;top:0;left:0;width:0;height:0;line-height:0;overflow:hidden;visibility:hidden;font-size:0;}
.hide{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
.gLeft{float:left;}
.gRight{float:right;}
.hidden{display:none;}
.br{display:block;}
#skipnavigation{position:relative;z-index:1000;}
#skipnavigation .skip{position:absolute;top:0;left:0;width:100%;}
#skipnavigation a{display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#000;white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active{background-color:#000;color:#fff;width:100%;line-height:40px;height:40px;margin-bottom:10px;}
.forMobile{display:none;}
#wrap{background-color:#fff;min-width:1200px;min-height:100%;}
#wrap .bg{position:relative;margin:0 auto;max-width:1200px;zoom:1;}
#wrap .bg:after{display:block;clear:both;content:''}

.gIndex #header{background:url(/images/k_header.png) 0 100% repeat-x;border-bottom:0;}
.gIndex .mGnb li .sub,
.gIndex .lGnbsub{top:70px;}
#header{position:relative;border-bottom:1px solid #dcdcdc;width:100%;}
#header .bg{height:88px;}
#header h1{position:relative;text-align:center;line-height:70px;height:70px;}
#header .link{position:absolute;top:0;right:0;}
#header .link .ls{position:relative;float:left;}
#header .link .ls a{position:relative;display:block;float:left;background:url(/images/ico_login.png) 50% 50% no-repeat;width:46px;height:70px;}
#header .link .ls a span{text-indent:-9999px;font-size:0;}
#header .link .ls a .cnt{position:absolute;top:13px;right:2px;background-color:#096bda;color:#fff;font-size:11px;text-align:center;border-radius:9px;min-width:17px;line-height:17px;height:17px;}
#header .link .ls.iMy a{background-image:url(/images/ico_my.png);width:46px;}
#header .link .ls.iCart a{background-image:url(/images/ico_cart.png);width:53px;}
#header .link .ls.iLogout a{background-image:url(/images/ico_logout.png);}

#header .link .ls .lMy{display:none;position:absolute;top:62px;left:50%;margin-left:-65px;border:1px solid #d1d1d1;background-color:#fff;padding:2px 7px;width:114px;z-index:100;}
#header .link .ls .lMy:before{content:"";position:absolute;top:-10px;left:50%;margin-left:-8px;background:url(/images/ico_arr2.png) 0 0 no-repeat;width:15px;height:10px;}
#header .link .ls .lMy div.noline a,
#header .link .ls .lMy div.noline span{border-top:0;}
#header .link .ls .lMy div a,
#header .link .ls .lMy div span{display:block;background:none;border-top:1px solid #dfdfdf;font-size:13px;text-align:center;line-height:130%;width:100%;line-height:33px;height:33px;}
#header .link .ls .lMy div a:before,
#header .link .ls .lMy div span:before{content:">";float:right;margin-right:5px;}

#footer{background:#333;color:#fff;font-size:12px;}
#footer .bg{position:relative;margin:0 auto;width:1100px;}
#footer .con1 a{display:inline-block;color:#fff;margin-right:12px;line-height:46px;height:46px;}
#footer .con1 .gRt{position:absolute;top:0;right:0;}
#footer .con1 .gRt a{background:url(/images/ico_footer_sns1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:30px;height:46px;vertical-align:middle;}
#footer .con1 .gRt a.facebook{background-image:url(/images/ico_footer_sns2.png);}
#footer .con1 .gRt a.blog{background-image:url(/images/ico_footer_sns3.png);width:36px;}
#footer .con2{border-top:1px solid #585858;line-height:150%;padding:20px 0 30px;}
#footer .con2 .gab{margin-right:10px;}
#footer .con2 .tx2{margin:15px 0 0;}

.modalBgAside{display:none;position:absolute;top:0;right:0;background-color:#000;filter:alpha(opacity=0);opacity:0;-moz-opacity:0;width:100%;min-height:100%;z-index:500;}
.headprev{
    position: absolute; top: 30px; background: none; border: none; cursor: pointer;z-index: 1; margin: 0 16px;
}


/*.mRolling{margin:0;padding:30px 0 0;zoom:1;}
.mRolling:after{display:block;clear:both;content:''}
.mRolling .rolling{position:relative;float:left;border:1px solid #d7d7d7;width:840px;}
.mRolling .rolling .swiper-slide .img{height:261px;}
.mRolling .rolling .swiper-slide .img .forWeb{height:100%;}
.mRolling .rolling .swiper-container-horizontal>.swiper-pagination-bullets{bottom:25px;text-align:center;}
.mRolling .rolling .swiper-pagination-bullet{background-color:#d1d1d1;opacity:1;border-radius:5px;width:10px;height:10px;}
.mRolling .rolling .swiper-pagination-bullet-active{background-color:#096bda;width:22px;}
.mRolling .rolling .swiper-button-prev,
.mRolling .rolling .swiper-button-next{position:absolute;top:50%;left:28px;margin-top:-21px;background:url(/images/ico_prev4.png) 50% 50% no-repeat;width:31px;height:42px;}
.mRolling .rolling .swiper-button-next{left:auto;right:13px;background-image:url(/images/ico_next4.png);}*/

.mBanner{width:100%; position: relative;
margin: 40px 0 80px 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.mBanner .imgBG{

    height: 300px;
}

.imgproduct img{
    position: absolute;
    left: 61%;
    top: 48px;

}

.mBanner>ul{
     position: absolute; top: 70px;
     border: none;
     color: #fff;
     padding:0 40px;
}
.mBanner>ul li{
    padding: 6px 0;
}
.mBanner>ul li:nth-child(1){
    padding-bottom: 32px;
}
.mBanner>ul li h3{
    
    font-size: 32px;
    font-weight: 600;
    
}


.mBanner>ul li p{
    font-size: 26px;
    font-weight: 400;
    display: block;
}

.iTop{position:fixed; bottom:2%;left:62%;margin-left:603px;background:url(/images/ico_top.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;width:63px;height:63px;}



.search {
  position: relative;
  left: 310px;
  width: 560px;
    margin: 40px 0;
}

.search> input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
background: none;
  padding: 10px 8px;
  font-size: 14px;
}

.search>input:focus {outline:none;}
.search> button {
  border: none;
  background:none;
  position : absolute;
  width: 32px;
  top: -4px;
  right: 0px;
  margin: 0;
  cursor: pointer;
}
.search>button>img{
    width: 32px;
}





.mlMenu{
    margin: 0 0 0 380px;
    padding: 40px 0 0;
    
}
.mlMenu ul{
    
}
.mlMenubtn a{

    display: inline-block;
    width:8%;
    font-weight: 500;
    font-size: 18px;
    color: #202020;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin:0 20px;

}
.mlMenu .mlallBtn{
 
}


.gTitle2{position:relative; background: rgba(0, 145, 217, 0.1); margin:0 0 20px; padding: 16px 8px 16px;}
.gTitle2 h3{font-size:18px; text-align: center; color: #0091d9;}
.gTitle2 .mCheck1{position:absolute;top:16px;right:0;}

.mCheck1 a{display:inline-block;background:url(/images/ico_checkbox2.png) 0 5px no-repeat;font-size:14px;margin:0 0 0 10px;padding:0 0 0 17px;}
.mCheck1 a.selected{background-image:url(/images/ico_checkbox1on.png);}

.mBrochure{background-color:#eef0f5;margin-top:75px;}
#wrap .mBrochure .bg{padding:70px 0;}
.mBrochure ul{margin-left:-13px;zoom:1;}
.mBrochure ul:after{display:block;clear:both;content:''}
.mBrochure li{float:left;margin:0 0 13px 13px;width:265px;}
.mBrochure li a{display:block;background-color:#fff;border:1px solid #fff;}
.mBrochure li .img{display:block;background-position:50% 50%;background-repeat:no-repeat;}
.mBrochure li a .mGoodsbg{
    border: 1px solid #ccc;
}
.mBrochure li .txt{display:block;text-align:center;}
.mBrochure li .txt .ti{display:block;font-size:16px;font-weight:bold;}
.mBrochure li .txt .tx{display:block;font-size:13px;margin-top:-3px;}
.mBrochure li .txt .pr{display:block;font-size:15px;margin-top:10px;}
.mBrochure li .txt .pr em{font-size:22px;font-weight:bold;}
.mBrochure li .txt .bt{display:inline-block;font-size:15px;border:1px solid #096bda;font-size:14px;color:#096bda;margin-top:10px;text-align:center;width:135px;line-height:28px;height:28px;}
.mBrochure li .txt .ti span,
.mBrochure li .txt .tx span{text-decoration:underline;}
.mBrochure li .txt .ti span,
.mBrochure li .txt .tx span{text-decoration:none;}
.mBrochure li .txt .ti strong{
    background: #393939;
    font-size: 13px;
    color: #fff;
    text-align: center;
    width: 56px;
    margin-bottom: 8px;
}

/*
.mBrochure li a:hover{border-color:#096bda;}
.mBrochure li a:hover .txt .pr{color:#096bda;}
.mBrochure li a:hover .txt .bt{background-color:#096bda;color:#fff;}
.mBrochure li a:hover{position:relative;color:#096bda;}
.mBrochure li a:hover:before{content:"";position:absolute;top:0;left:0;border:1px solid #096bda;width:261px;}
.mBrochure li a:hover .txt .ti span,
.mBrochure li a:hover .txt .tx span{color:#096bda;text-decoration:underline;}*/

.mGoods{background-color:#fff;margin:40px 0;}
.mGoods ul{margin-left:0;}
.mGoods li{width:284px;margin:8px;}
.mGoods li a{border:none;}
.mGoods li .img{text-align:center;
border: 1px solid #eaeaea;
}
.mGoods li .txt{text-align:left;padding:0 0 0 25px;}
.mGoods li .txt .ti strong{display:block;font-weight:bold;}
.mGoods li .txt .tx{color:#a3a3a3;}
/*.mGoods li a:hover:before{width:272px;}*/
.mGoods li .txt{padding:16px 8px 0;height:104px;}
.mGoods li .logoimg{
    padding: 16px;
    float: right;
}
.mGoods li .logoimg::after{
    content: ""
    clear:both;
}
/*
.mSky{position:absolute;top:94px;left:50%;margin-left:566px;width:100px;z-index:1;}
.mSky .ban a{display:block;margin-bottom:5px;}
.mSky .list{border:1px solid #474747;background-color:#fff;margin:25px 0 0;padding:5px 0 10px;}
.mSky .list h4{font-size:13px;letter-spacing:-1px;text-align:center;padding:0 0 6px;}
.mSky .list li{margin:0 0 7px;}
.mSky .button{margin-top:5px;}
.mSky .button a{display:block;background-color:#005578;border-radius:3px;color:#fff;text-align:center;line-height:24px;height:24px;}

버튼모양변경
.swiper-button-next,
.swiper-button-prev{top:auto;left:17px;bottom:8px;background:url(/images/ico_prev2.png) 0 0 no-repeat;margin:0;width:15px;height:15px;}
.swiper-button-next{left:auto;right:17px;background-image:url(/images/ico_next2.png);}
.swiper-pagination{text-align:right;}
.swiper-pagination-bullet{width:10px;height:10px;}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:3px;}
.swiper-pagination-bullet-active{background-color:#15a2a9;}*/


/*mgoodsdetail*/
.mGoodsdetail{width:100%; position: relative;
margin: 40px 0 80px 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.PrevBtn{
    text-align:center;margin: 24px 0;
}

.PrevBtn button{cursor: pointer; border: none; background: #2a2a2a; padding: 16px 24px; color: #ffffff;}
.titleR button{
    background: none;
    border: none;
    
}
.titleR{
    float: right;
}
.titleR::after{
    content: ""
    clear:both;
}
.mGdetailtitle{
    padding: 24px 48px;
    background: #2a2a2a;
    color: #ffffff;
    font-size: 18px;
    z-index: 1;
    position: sticky;
    top: 0px;
}
.mGdetailtitle table tr .tit_num{
    border: 1px solid #ffffff;
    text-align: center;
    margin: 0 8px;
    width: 80px;
    padding: 0;
}
.mGdetailtitle>table tr td button{
    background: none; border: none;
}

/***********************mobile*******************************/
@media (min-width:0) and (max-width:720px){

	.forWeb{display:none;}
	.forMobile{display:block;}

	#wrap{min-height:auto;}

	#wrap .bg,
	#wrap{max-width:100%;min-width:auto;}

	#body{padding:0;}
	.gIndex #body{padding-left:0;padding-right:0;}
	
	#footer{font-size:11px;}
	#footer .bg{padding-left:20px;padding-right:20px;width:auto;}
	#footer .con1 a{line-height:35px;height:35px;}
	#footer .con2{padding:0;}
	#footer .con2 .bg{padding:10px 15px;}
	#footer .con1 .gRt{display:none;}
	#footer .con2 .tx2{margin-top:10px;}
	
	.mSky{display:none;}

	.iTop{position:fixed; bottom:10px;left:auto; right:10px; background-size:32px auto; margin:0;width:32px;height:32px; z-index:999;}

	.iAside{display:block;position:absolute;top:0;left:0;background:url(/images/ico_aside1.png) 50% 50% no-repeat;background-size:16px auto;text-indent:-9999px;font-size:0;width:45px;height:45px;}
	
	#header .bg,
	#header h1{height:56px; padding:0 24px;}
	#header h1 img{ max-width:254px; width: 100%; }
	#header h1{line-height:56px;}
	#header .link{right:10px;}
	#header .link .ls.iLogout a,
	#header .link .ls.iCart a{background-size:auto 17px;width:30px;height:45px;}
	#header .link .ls a .cnt{top:7px;right:-2px;font-size:10px;min-width:14px;line-height:14px;height:14px;}
	#header .link .iLog,
	#header .link .iMy,
	.mGnb{display:none;}
.headprev{
    max-width: 8px;
    width: 100%;
    position: absolute; left: 4px;  top: 16px; background: none; border: none; cursor: pointer;z-index: 1;
}
	.mKeymain{border-bottom:1px solid #f6f6f6;}
	.mKeymain .swiper-container{padding-bottom:30px;}
	.mKeymain .swiper-slide .img{height:auto;}
	.mKeymain .swiper-slide .img img{width:100%;}
	.mKeymain .swiper-container-horizontal>.swiper-pagination-bullets{bottom:5px;}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
	.mKeymain .swiper-pagination-bullet{width:7px;height:7px;}
	.mKeymain .swiper-pagination-bullet-active{width:15px;}
    
    
    #wrap .mBrochure .bg{padding:30px 10px;}
	.mBrochure{margin-top:0;}
	.mBrochure ul{margin:0 -3px;}
	.mBrochure li{margin:0 auto 6px;width:50%;}
	.mBrochure li a{display:block;margin:0 3px;}
	.mBrochure li .img{background-size:100% auto;}
	.mBrochure li .img img{width:100%;}
	.mBrochure li .txt{height:130px;}
	.mBrochure li .txt .pr,
	.mBrochure li .txt .ti{font-size:14px;}
	.mBrochure li .txt .bt{margin:10px auto 0;width:80%;font-size:12px;}
	.mBrochure li .txt .tx{font-size:11px;}
	.mBrochure li .txt .pr{margin-top:5px;}
	.mBrochure li .txt .pr em{font-size:18px;}
	.mBrochure li a:hover:before{display:none;}

    .gTitle2{border-bottom:0;padding-bottom:0; padding: 0;}
	.gTitle2 h3{font-size:18px;text-align:center;}
	.gTitle2 .mCheck1{display:none;}

/*
    .mRolling .rolling{float:none;border:0;border-bottom:1px solid #d7d7d7;margin:0 -10px 25px;width:auto;}
	.mRolling .rolling img{width:100%;}
	.mRolling .rolling .swiper-slide .img{height:auto;}
	.mRolling .banner{display:none;}
	.mRolling .rolling .swiper-button-prev,
	.mRolling .rolling .swiper-button-next{display:none;}
	.mRolling .rolling .swiper-pagination-bullet{width:5px;height:5px;}
	.mRolling .rolling .swiper-pagination-bullet-active{border-radius:35%;width:11px;}
	.mRolling .rolling .swiper-container-horizontal>.swiper-pagination-bullets{bottom:5px;}
    */
    
    /*banner*/
    
    .mBanner{margin:0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    overflow: hidden;
        
    }
    .mBanner .imgBG{
        width: 1000px;
        height: 300px;
    }
    .imgproduct img{

        transform: translate(-160px, 100px); 
        
        width: 240px;
}

    .imgproduct{
   
    }
    .mBanner>ul{
     position: absolute; top: 36px;
     border: none;
     color: #fff;
     letter-spacing: -1px;
     padding:0 24px;
        
    }
    .mBanner>ul li{
        padding:  0;
    }
    .mBanner>ul li:nth-child(1){
        padding-bottom: 12px;
    }
    .mBanner>ul li h3{
        font-size: 22px;
        font-weight: 600;
    }


    .mBanner>ul li p{
        line-height: 1.2em;
        font-size: 16px;
        font-weight: 400;
    }

    
    
/*search*/
    
.search {
  position: relative;
  left: -8px;
  width: 80%;
  transform: translate(10%, 0px); 
}

.search> input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
background: none;
  padding: 10px 12px;
  font-size: 14px;
}

.search>input:focus {outline:none;}
.search> img {
  position : absolute;
  width: 32px;
  top: 0px;
  right: 0px;
  margin: 0;
}


    
/*menu button*/    
    
    .mlMenu {
    padding: 24px 0;
    margin:0 0 0 16%;
        
}
    .mlMenubtn a{

    display: inline-block;
    width:16%;
    font-size: 16px;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin:0 4px;

    }
    
	.mGoods li .txt{padding:0 15px;height:115px;}
    .mGoods li .txt {
    padding: 8px 4px 0;
        height: 104px;}

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{width:10px;height:10px;}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{width:20px;}
    

.mGdetailtitle{
    padding: 24px 0;
    background: #2a2a2a;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.7px;
    z-index: 1;
    position: sticky;
    top: 0px;
}
    .mGdetailtitle table tr .tit_num{
    border: 1px solid #ffffff;
    text-align: center;
    margin: 0 8px;
    width: 56px;
    padding: 0;
}
.mGdetailtitle table tr button{
    border: 1px solid #ffffff;
    text-align: center;
    margin: 0 4px;

    padding: 0;
}
    .mGdetailtitle table tr .titname{
        padding-left: 8px;
        line-height: 1.5em;
    }